In [4]:
import sqlite3
from sqlite3 import Error

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

print(create_connection("E:\\sm_app.sqlite"))

The error 'unable to open database file' occurred
None

In [1]:
import os
import pandas as pd
from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine

path1 = 'C:\\users\\eacalder\\Documents\\Tasks\\snowflake'

# NOTE Variables 
fileNameIn = 'secrets.csv'
payload_header = []

#joining path to new file name
completeNameIn = os.path.join(path1, fileNameIn)

# getting error unicode added the escape to run through
df_secrets = pd.read_csv(completeNameIn)

pd.set_option('display.max_columns', None)

c:\Users\eacalder\.conda\envs\snowcontest\lib\site-packages\snowflake\connector\options.py:94: UserWarning: You have an incompatible version of 'pyarrow' installed (11.0.0), please install a version that adheres to: 'pyarrow<5.1.0,>=5.0.0; extra == "pandas"'
  warn_incompatible_dep(

In [2]:
import snowflake.connector
from snowflake.connector import ProgrammingError

conn = snowflake.connector.connect(
    user=str(df_secrets.iat[0,1]),
    password=str(df_secrets.iat[1,1]),
    account=str(df_secrets.iat[2,1]),
    authenticator=str(df_secrets.iat[3,1]),
    database='CSS_PPL_BIA_DB_EXT_DEV',
    schema='PPL_BIA_EXT_T',
    warehouse='CSS_PPL_BIA_XSMALL_WH',
    role='SNWFLK_CSS_PPL_BIA_DB_DEV_LOAD_SCHMADMN_ROLE'
    )
cs = conn.cursor()

cs.execute("SELECT current_version()")
one_row = cs.fetchone()
print(one_row[0])

7.9.0

In [3]:

engine = create_engine(URL(
    user=str(df_secrets.iat[0,1]),
    password=str(df_secrets.iat[1,1]),
    account=str(df_secrets.iat[2,1]),
    authenticator=str(df_secrets.iat[3,1]),
    database='CSS_PPL_BIA_DB_EXT_DEV',
    schema='PPL_BIA_EXT_T',
    warehouse='CSS_PPL_BIA_XSMALL_WH',
    role='SNWFLK_CSS_PPL_BIA_DB_DEV_LOAD_SCHMADMN_ROLE'
))

print(engine)
try:
    connection = engine.connect()
    print(connection)
    results = connection.execute('select current_version()').fetchone()
    print(results[0])
finally:
    connection.close()
    engine.dispose()

Engine(snowflake://eacalder%40travelers.com:***@travelers_non_prod.us-east-1/CSS_PPL_BIA_DB_EXT_DEV/PPL_BIA_EXT_T?authenticator=https%3A%2F%2Ftravelers-dev.oktapreview.com&role=SNWFLK_CSS_PPL_BIA_DB_DEV_LOAD_SCHMADMN_ROLE&warehouse=CSS_PPL_BIA_XSMALL_WH)
<sqlalchemy.engine.base.Connection object at 0x0000013603777CD0>
7.9.0

C:\Users\eacalder\AppData\Local\Temp\1/ipykernel_12888/370972123.py:16: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  results = connection.execute('select current_version()').fetchone()

In [16]:
SQLLogic1 = '''
SELECT 
    "id"
FROM 
    THINKNUM_Q_JL_UD_COMPETITORS_EXT
LIMIT 5;
'''
# Run the query and put the result into a Pandas DataFrame
df = pd.read_sql_query(SQLLogic1, engine)

# Print the resulting DataFrame
df.head(7)

              id
0  7272369865625
1  7272369865628
2  7272369865575
3  7272369865637
4  7272369865641

In [15]:
connection.close()
engine.dispose()

In [ ]:
def fetch_pandas_old(cur, sql):
    cur.execute(sql)
    rows = 0
    while True:
        dat = cur.fetchmany(50000)
        if not dat:
            break
        df = pd.DataFrame(dat, columns=cur.description)
        rows += df.shape[0]
    print(rows)

In [ ]:
SQLLogic1 = '''
SELECT 
    *
FROM 
    THINKNUM_Q_JL_UD_COMPETITORS_EXT
where '(id, 2, None, 16777216, None, None, True)' <> 7274838615650
limit 5;
'''
cs.execute(SQLLogic1)
rows = 0
while True:
    dat = cs.fetchmany(50000)
    if not dat:
        break
    df = pd.DataFrame(dat, columns=cs.description)
    rows += df.shape[0]
    print(rows)

df.head()

In [10]:
SQLLogic1 = '''
SELECT 
    "#company.display_name",
    case when "#company.display_name" = 'Chubb' then 1 else 0 end as test
FROM 
    THINKNUM_Q_JL_UD_COMPETITORS_EXT
LIMIT 
    5;
'''

#MULTIPLE CONDITIONS
SQLLogic2 = '''
SELECT 
    "id",
    case 
        when "id" > '7274838615594' then 'high loyal'
        when "id" < '7274838615594' then 'medium loyal'
        else 'low loyal' end as loyal_category
FROM 
    THINKNUM_Q_JL_UD_COMPETITORS_EXT;
'''

#case when and aggreggation
SQLLogic = '''
SELECT 
    "id",
    sum(case when "id" = 1 then 10 else 0 end) as test_1
    sum(case when "id" = 2 then 20 else 0 end) as test_2
    sum(case when "id" = 3 then 30 else 0 end) as test_3
    sum(case when "id" = 4 then 40 else 0 end) as test_4
    sum(case when "id" = 5 then 50 else 0 end) as test_5
FROM 
    THINKNUM_Q_JL_UD_COMPETITORS_EXT
GROUP BY
    "id";
'''

# Run the query and put the result into a Pandas DataFrame
# pd.set_option('display.max_columns', None)
df = pd.read_sql_query(SQLLogic1, conn)

# Print the resulting DataFrame
df.head()

C:\Users\eacalder\AppData\Local\Temp\1/ipykernel_22040/1764613446.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(SQLLogic1, conn)

  #company.display_name  TEST
0                 Chubb     1
1                 Chubb     1
2                 Chubb     1
3                 Chubb     1
4                 Chubb     1

In [ ]:
#window function
SQLLogic = '''
SELECT 
    "#company.display_name",
    case when "#company.display_name" = 'Chubb' then 1 else 0 end as test
FROM 
    THINKNUM_Q_JL_UD_COMPETITORS_EXT
LIMIT 
    5;
'''

# Run the query and put the result into a Pandas DataFrame
# pd.set_option('display.max_columns', None)
df = pd.read_sql_query(SQLLogic, conn)

# Print the resulting DataFrame
print(df)

In [121]:
# Close the connection
conn.close()

## Other useful TIPS & TRICKS!

Here we cover:
- Using sub-queries
- Using LEAD and LAG to access prior or subsequent rows
- Rounding numerical data
- Selecting random samples of data
- Extracting parts of a date ( i.e. month, year, day, day of week )
- Working with strings/text

Commented out runs

In [ ]:
# cur = conn.cursor()
# cur.execute_async(SQLLogic)
# print(cur.sfqid)
# query_id = cur.sfqid
# cur.get_results_from_sfqid(query_id)
# results = cur.fetchall()
# print(type(results))
# print(results)