In [16]:
import os
import pandas as pd
path2 = 'C:\\users\\eacalder\\Documents\\Tasks\\thinknum\\testing'


fileNameIn = 'test.csv'

#joining path to new file name  
completeNameIn = os.path.join(path2, fileNameIn)

df_secrets = pd.read_csv(completeNameIn)
print(df_secrets["description"].isna().sum())

df_secrets["description"] = df_secrets["description"].fillna(0)
print(type(df_secrets))
print(df_secrets["description"].isna().sum())
df_secrets["description"].head()

1
<class 'pandas.core.frame.DataFrame'>
0

0    <p style="text-align:left"><span>You are a dri...
1    <p style="text-align:left"><span>You are a dri...
2    <p style="text-align:left"><span>You are a dri...
3                                                    0
4    <p style="text-align:left"><span>You are a dri...
Name: description, dtype: object

In [3]:
text  = 'sometihinG/output/'
new = text.replace('output','input')
print(new)

text.lower()

sometihinG/input/

'sometihing/output/'

In [39]:
import pandas as pd
from datetime import datetime
from pytz import timezone

In [37]:
data = {'a': [1,2,3,4,5],
        'b': [6,7,8,9,10]}
otherdata = {'a': [11,12,13,14,15],
             'b': [16,17,18,19,20]}
table = pd.DataFrame(data, index=None)
table2 = pd.DataFrame(otherdata, index=None)

table = pd.concat([table, table2], axis=0, ignore_index=True)

table.head(30)

    a   b
0   1   6
1   2   7
2   3   8
3   4   9
4   5  10
5  11  16
6  12  17
7  13  18
8  14  19
9  15  20

In [43]:
tz = timezone('EST')
now_time = datetime.now(tz)
print(now_time.date())

2023-04-04

In [12]:
columnb = table.iloc[1]
print(columnb.shape)
print(type(columnb))
columnb.head()

(2,)
<class 'pandas.core.series.Series'>

a    2
b    7
Name: 1, dtype: int64

In [14]:
def split_s3_path(s3_path: str):
    path_parts=s3_path.replace("s3://","").split("/")
    bucket=path_parts.pop(0)
    key="/".join(path_parts)
    return bucket, key

import datetime
key_list = ['refined/thinknum/competitor_skills_extract/ingest_date=2023-3-1/3b754b25d7634e83a6ced1b2c6bbf496.snappy.parquet',
            'refined/thinknum/competitor_skills_extract/ingest_date=2023-2-25/3b754b25d7634e83a6ced1b2c6bbf496.snappy.parquet',
            'refined/thinknum/competitor_skills_extract/ingest_date=2023-1-1/3b754b25d7634e83a6ced1b2c6bbf496.snappy.parquet',
            'refined/thinknum/competitor_skills_extract/ingest_date=2023-12-1/3b754b25d7634e83a6ced1b2c6bbf496.snappy.parquet',
            'refined/thinknum/competitor_skills_extract/ingest_date=2023-11-1/3b754b25d7634e83a6ced1b2c6bbf496.snappy.parquet',
            'refined/thinknum/competitor_skills_extract/ingest_date=2023-7-1/3b754b25d7634e83a6ced1b2c6bbf496.snappy.parquet',
            'refined/thinknum/competitor_skills_extract/ingest_date=2023-8-1/3b754b25d7634e83a6ced1b2c6bbf496.snappy.parquet',
            'refined/thinknum/competitor_skills_extract/ingest_date=2023-9-1/3b754b25d7634e83a6ced1b2c6bbf496.snappy.parquet'
            ]   

first_of_month_key_list = []
month_count = 0

for key_path in key_list:
    key_parts = key_path.split("/")
    ingest_date_folder = key_parts[3]
    ingest_date_parts = ingest_date_folder.split("=")
    ingest_date = ingest_date_parts[1]
    print(ingest_date)
    folder_date = datetime.datetime.strptime(ingest_date, '%Y-%m-%d').date()
    if folder_date.day == 1:
        month_count += 1
        first_of_month_key_list.append(key_path)
    if month_count == 6:
        break

print(first_of_month_key_list)
print(len(first_of_month_key_list))

2023-3-1
2023-2-25
2023-1-1
2023-12-1
2023-11-1
2023-7-1
2023-8-1
['refined/thinknum/competitor_skills_extract/ingest_date=2023-3-1/3b754b25d7634e83a6ced1b2c6bbf496.snappy.parquet', 'refined/thinknum/competitor_skills_extract/ingest_date=2023-1-1/3b754b25d7634e83a6ced1b2c6bbf496.snappy.parquet', 'refined/thinknum/competitor_skills_extract/ingest_date=2023-12-1/3b754b25d7634e83a6ced1b2c6bbf496.snappy.parquet', 'refined/thinknum/competitor_skills_extract/ingest_date=2023-11-1/3b754b25d7634e83a6ced1b2c6bbf496.snappy.parquet', 'refined/thinknum/competitor_skills_extract/ingest_date=2023-7-1/3b754b25d7634e83a6ced1b2c6bbf496.snappy.parquet', 'refined/thinknum/competitor_skills_extract/ingest_date=2023-8-1/3b754b25d7634e83a6ced1b2c6bbf496.snappy.parquet']
6